html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  font: caption;
}

kbd {
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  font-weight: bolder;
  line-height:1.4;
  margin:0 .1em;
  padding:.1em .6em;
  text-shadow:0 1px 0 #fff;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/* Always show video controls */
/*video::-webkit-media-controls-panel {*/
video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: .5 !important;
  z-index: 1000;
}

.novideoui video::-webkit-media-controls-panel {
  display: none !important;
}

.center {
  text-align: center;
}

#mainview  {
  width: 100%;
  height: 100%;
}


#autoheight {
  height: calc(100% - 20px);
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#autoheight.notoolbar {
  height: 100%;
}

#viewer {
  display: flex;
  height: 100%;
}



#statusbar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 20px;
}

#statusbar > input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

#statusbar.hide {
  display: none;
}

#filetext, #counter {
  height: 18px;
}

#counter {
  position: fixed;
  left: 0;
  text-align: center;
  width: 10em;
}

#filetext {
  position: fixed;
  left: 10em;
  width: calc(100% - 10em);
  user-select: none;
}


img, video {
  width: 100%;
  object-fit: contain;
}

@media (max-width: 849px), (max-height: 549px) {
  #dropzone {
    width: 90%;
    height: 90%;
  }
}
@media (min-width: 850px), (min-height: 550px) {
  #dropzone {
    width: 70%;
    height: 60%;
  }
}


.message {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 2em;
  text-align: center;
  border: 2px solid;
}



/* 
  Center/Middle message inside the dropzone
*/
/* .message > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
} */

#viewer > .message, #viewer > .message > div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  height: 40%;
}

#dropzonecontainer {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1.5em);
}

#dropzonecontainer.notoolbar {
  height: 100%;
}


#dropzone {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;  
  border: 10px dashed;
  opacity: 0.6;
  cursor: "default";
}

#dropzone > .message {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: none;
}

#dropzone .title {
  font-size: 1.5em;
}

#dropzone .tip {
  font-size: 0.4em;
}

#dropzone.hover {
  opacity: 1;
}

#dropzone.hide {
  opacity: 0;
}



#settingscontainer {
  background-color: rgba(78, 78, 78, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}



#settingscontainer > div {
  border-radius: 5px;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.settings-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.settings-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.settings-header, .settings-footer {
  background-color: #BABABA;
  width: 100%;
  height: 2em;
  text-align: center;
}

.settings-header .title  {
  font-size: 1.4em;
}

.settings-footer {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  bottom: 0;
}

button {
  font-size: 1em;
}

.settings-footer button {
  margin-top: .25em;
}

#settings-close-x {
  font-size: 1.4em;
  position: absolute;
  top: -1px;
  right: -2px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline:none;
  opacity: 0.5;
}

#settings-close-x:hover {
  opacity: 1;
}

.settings {
  background-color: #eee;
  position: absolute;
  top: 2em;
  bottom: 2em;
  width: 100%;
}

.labelgroup {
  /* padding-left: 2em;
  text-indent: -2em; */
  margin-top: 2px;
  margin-bottom: 2px;
}

/* .labelgroup i {
  text-indent: 0;
} */

input.nospinner::-webkit-outer-spin-button,
input.nospinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.decrease {
  left: 1.5em;
  margin-left: -1.5em;
}

button.increase {
  right: 1.5em;
  margin-right: -1.5em;
}

.iconbutton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline:none;
  vertical-align: middle;
}

 button.bordered {
  border: none;

}

button.decrease, button.increase  {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  position: relative;
}

.labelgroup > .spacer {
  padding-left: 1.5em;
}

fieldset > legend {
  background-color: #eee;
  font-weight: bold;
}

.fixie {
  position: relative;  
  top: 50%;
}

fieldset > p {
  margin-bottom: -2px;
}

.settings-panel-container {
  position: relative;
  /* padding-left: 1em; */
  /* padding-left: 1em; */
  max-height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}


#os-windows-contextmenu {
  outline: none;
  margin-top: 0.5em;
  font-size: 1em;
  width: 8em;
}

#os-windows-contextmenu.installed {
  background: rgb(28, 184, 65);
}


#os-windows-contextmenu.installed:hover,
#resettodefault:hover {
  background: rgb(223, 117, 20);
}

form {
  margin: 0.5em;
}

.tooltip:hover > .infotext {
  visibility: visible;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip > .infotext{
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border: 2px dotted #000;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
}

.settings-panel input[type="checkbox"]{
  width: 1.2em;
  height: 1.2em;
}

.settings-panel input[type="number"]{
  font-size: 1em;
  width: 6em;
}

.settings-panel select{
  font-size: 1em;
  width: 8em;
}

.settings-panel hr {
  margin-left: -.5em;
  margin-right: 1em;
}

.cb {
  float: left;
  width: 10em;
}

.cb select {
  width: 12em;
}

.cb:nth-child(2) {
  width: 12em;
}

.cb:nth-child(3) {
  width: 16em;
}

.cb-clear {
  clear: both;
}

.devmode {
  position: absolute;
  bottom: 1em;
}

.hidden {
  display: none;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

input[type='number'] {
  text-align: center;
}

.summary {
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
}

#aboutcontainer {
  z-index: 1000;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(78, 78, 78, 0.8);
}

#aboutcontainer #about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#about {
  background-color: white;
  width:535px;
  height: 295px;
}

#about .logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 295px;
  width: 200px;
}

#about .aboutinfo {
  position: absolute;
  top: 0;
  left: 205px;
  width: 330;
}

/* DivTable.com */
.dtable {
  width: 100%;
  height: 100%;
  display: table;
  text-align: left;
}
.dtrow {
	display: table-row;
}

.dtheading {
  display: table-cell;
  vertical-align: top;
  padding: 3px 10px;
  font-weight: bold;
}

.dtcell {
	display: table-cell;
  padding: 3px 10px;
}
.dtbody {
	display: table-row-group;
}
