html, body{
  padding: 0.2em;
  padding: 0.2em;
  background-color: #F5F5F5;
  cursor:default;
  overflow: hidden;
}

#cwd {
  font-size: 1em;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
  -webkit-user-select: none;
  user-select: none;  
  height: 1.5em;
}

button {
  padding: 1px;
  margin: 1px;
}

#folderselect {
  overflow:scroll;
  overflow-x: hidden;
  height: 100%;
  font-size: 12pt;
  color: #000;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}

#folderselect:focus {
  border-color: #ccc;
}

select#folderselect option {
  background-size: 20px 20px;
  background-repeat:no-repeat;
  background-position: left middle;
  padding-left: 22px;
}

select#folderselect option[value] {
  background-image:url("../assets/Folder-48.png");
}

select#folderselect option[value$="."] {
  background-image:url("../assets/Open Folder-48.png");
}

select#folderselect option[value$=".."] {
  background-image:url("../assets/Folder-48.png");
}

select#folderselect option[value$="zip"] {
  background-image:url("../assets/WinRAR-48.png");
}
