html, body{
  margin: 0px;
  padding: 0px;
  background-color: #F5F5F5;
  cursor:default;
  overflow: hidden;
}

/*::-webkit-scrollbar {
    display: none;
}*/

.wrapper {
  margin: 0;
  padding: 0;
  /*border: 1px solid blue;*/
  width: 100%;
  height: 100vh;
  /*height: 100%;*/
}

.lefty {
  vertical-align: top;
  display: inline-block;
  /*border: 1px solid red;*/
  width: auto;
  /*height: 100%;*/
}

.righty {
  vertical-align: top;
  display: inline-block;
  width: 100px;
  /*border: 1px solid green;*/
}

select {
  color: #000;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #000;
}

input {
  font-size: 14pt;
  margin-bottom: 2px;
  width: 99%;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

#folderselect {
  overflow:scroll;
  overflow-x: hidden;
  padding: 5px;
  width: 325px;
  /*height: 100%;*/
  font-size: 12pt;
}

#folderselect:focus {
  outline: none;
}

#controls {
  display:inline-block;
  vertical-align: top;
  padding-top: 20px;
}

#controls button {
  padding: 5px;
  margin: 2px;
  width: 86px;
}

option {
  background-size: 20px 20px;
  background-repeat:no-repeat;
  background-position: left middle;
  padding-left: 22px;
}

select#folderselect option[value] {
  background-image:url("../assets/Folder-48.png");
}

select#folderselect option[value$="."] {
  background-image:url("../assets/Open Folder-48.png");
}

select#folderselect option[value$=".."] {
  background-image:url("../assets/Folder-48.png");
}

select#folderselect option[value$="zip"] {
  background-image:url("../assets/WinRAR-48.png");
}
