html, body {
  margin: 0;
  padding: 0;
  font: caption;
  overflow: hidden;
}

.header {
  width: 480px;
}

.header > input {
  margin: 0;
  width: 100%;
}

.selector {
  padding-top: 5px;
  width: 480px;
  height: 335px;
  overflow: hidden;
}

.selectcontainer, .selectbuttons {
  float: left;
}

.selectcontainer {
  width: 300px;
}

.selectbuttons {
  width: 180px;
}

.selectbuttons button {
  width: calc(180px - .5em);
}
.selectbuttons input[type='checkbox'] {
  width: 1em;
  height: 1em;
}

button, input, select, label {
  font-size: 1em;
  margin: .1em;
}

label, input[type='checkbox'] {
  font-size: 1em;
  height: 1em;
}

button, input[type='checkbox'] {
  margin-left: .4em;
}

#cwd {
  padding-left: .2em;
}

#folderselect {
  width: 100%;
  height: 335px;
  overflow: scroll;
  overflow-x: hidden;
  outline: none;
}

#folderselect:focus {
  border-color: #ccc;
}

select#folderselect option {
  background-size: 20px 20px;
  background-repeat:no-repeat;
  background-position: left middle;
  padding-left: 22px;
}

select#folderselect option[value] {
  background-image:url("../assets/Folder-48.png");
}

select#folderselect option[value$="."] {
  background-image:url("../assets/Open Folder-48.png");
}

select#folderselect option[value$=".."] {
  background-image:url("../assets/Folder-48.png");
}

select#folderselect option[value$="zip"] {
  background-image:url("../assets/WinRAR-48.png");
}
