html,
body {
  width: 100%;
  height: 100%;
  background-color: #282828;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* Always show video controls */
/*video::-webkit-media-controls-panel {*/
video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: .5 !important;
}

.novideoui video::-webkit-media-controls-panel {
  display: none !important;
}

.center {
  text-align: center;
}

#mainview {
  width: 100%;
  height: 100%;
  background-color: #282828;
}

#container {
  width: 100%;
  height: 100%;
}

#autoheight {
  height: calc(100% - 1.5em);
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#autoheight.notoolbar {
  height: 100%;
}

#viewer {
  display: flex;
  height: 100%;
}

#statusbar {
  width: 100%;
  height: 35px;
}

#statusbar input {
  height: 1.5em;
}

#statusbar.hide {
  display: none;
}

#filetext, #counter {
  height: 30px;
}

#filetext {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
}

/* Disable blue border from pure, when clicking into the input field */
#filetext:focus {
  border-color: #ccc;
}

#counter {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

img,
video {
  width: 100%;
  object-fit: contain;
}

.message {
  /* freaking css magic right here */
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* freaking css magic right here */

  padding: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 40%;
  height: auto;
  border: 5px solid;
  border-radius: 20px;
  color: silver;
  font-size: 20px;
  text-align: center;
}

#dropzone.message {
  padding: 20px;
  color: silver;
  border: 10px dashed;
  border-radius: 20px;
  font-size: 30px;
  opacity: 0.4;
  cursor: "default";
  background-color: #282828;
}

#dropzone.hover {
  opacity: 0.8;
}

#dropzone.hide {
  opacity: 0;
}

#dropzone p {
  text-align: center;
  font-size: 50px;
}

#settingscontainer, #aboutcontainer {
  z-index: 100;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(78, 78, 78, 0.8);
}

#settings, #about {
  position: absolute;
  background-color: #fff;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  border-radius: 14px;
}

#about > div > table {
  width: 100%;
  
}

/*#about {
  padding: 1em;
}*/

.settings-menu {
  border-radius: 14px 0 0 14px;
  height: 100%;
}

.settings-panel {
  border-radius: 0 14px 14px 0;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eee;
}

.hidden {
  display: none;
}

.settings-menu-selected {
  background-color: #eee;
}

.installed {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
}

.installed:hover,
#resettodefault:hover {
  background: rgb(223, 117, 20);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}

input[type='number'] {
  text-align: center;
}

#resettodefault {
  position: absolute;
  bottom: 1em;
}

.close-settings {
  position: absolute;
  top: 1px;
  right: 2px;
}

#close-settings {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  color: darkgray;
}

#close-settings:hover {
  color: black;
}

#devmodebox {
  position: fixed;
  bottom: 40px;
}