html, body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #282828;
  cursor:default;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/* Always show video controls */
video::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
}


#mainview {
  width: 100%;
  height: 100%;
  background-color: #282828;
}

#container {
  width: 100%;
  height: 100%;  
}

.autoheight {  
  height: calc(100% - 30px);
  width:100%;
  overflow:hidden;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

div#viewer {
  display: flex;
  height: 100%;
}

div#statusbar {
  height: 30px;
  display: flex;
  width: 100%;
}

input#filetext {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  width: 100%;
  box-sizing: border-box;
}

input#counter {
  text-align: center;  
  padding-left: 5px;
  padding-right: 5px;
}



img, video {
  width: 100%;
  object-fit: contain;
}

.message {
  /* freaking css magic right here */
  position: absolute;
  top: 50%; left: 0;  right: 0;
  -webkit-transform: translateY(-50%);
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* freaking css magic right here */

  padding: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  width: 40%;
  height: auto;
  border: 5px solid;
  border-radius: 20px;
  color: silver;
  font-size: 20px;
  text-align: center;
}


#dropzone.message {
  padding: 20px;
  color: silver;
  border: 10px dashed;
  border-radius: 20px;
  font-size: 30px;
  opacity: 0.4;
  cursor: "default";
  background-color: #282828;
}

#dropzone.hover {
  opacity: 0.8;
}

#dropzone.hide {
  opacity: 0;
}

#dropzone p {
  text-align: center;
  font-size: 50px;
}


