html, body {
  background-color: #282828;
}

#mainview {
  background-color: #282828;
}

/* Disable blue border from pure, when clicking into the input field */
#filetext:focus {
  border-color: #ccc;
}

.message {
  color: silver;
}

#dropzone.message {
  background-color: #282828;
}